.collection-page {
    display: flex;
    flex-direction: column;
    
    .title {
        display: flex;
        justify-content: center;
        color: black;
        border-bottom: black 1px solid;
        font-size: 35px;
        transition: color 1s;

        &:hover {
            color: rgb(177, 177, 177);
        }
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 35px;
    }
}