.form-input {
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: solid black 1px ;
    background-color: whitesmoke;
    width: 15vw;
    transition: width 1s, height 1s;
}

.form-input:hover {
    width: 20vw;
}